In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("international_scholarships.csv")
print("Missing Values Before Processing:\n", df.isnull().sum())
df["Deadline"] = pd.to_datetime(df["Deadline"], errors="coerce")

df["Amount"] = pd.to_numeric(df["Amount"], errors="coerce")

df["Years"] = df["Years"].apply(lambda x: x.split(", ") if isinstance(x, str) else [])

df["Description"].fillna("Description not available", inplace=True)
df["Deadline"].fillna("Unknown deadline", inplace=True) 

print("\nMissing Values After Processing:\n", df.isnull().sum())

Missing Values Before Processing:
 Scholarship Name       0
Deadline            1544
Amount                 0
Description          473
Location               0
Years                  0
Link                   0
dtype: int64

Missing Values After Processing:
 Scholarship Name       0
Deadline               0
Amount              8872
Description            0
Location               0
Years                  0
Link                   0
dtype: int64

C:\Users\arman\AppData\Local\Temp\ipykernel_13320\997131811.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Deadline"] = pd.to_datetime(df["Deadline"], errors="coerce")
C:\Users\arman\AppData\Local\Temp\ipykernel_13320\997131811.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Description"].fillna("Description not available", inplace=True)
C:\Users\arman\AppData\Local\Temp\ipykernel_13320\997131811.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Deadline"].fillna("Unknown deadline", inplace=True)  # Keep as a string for clarity
C:\Users\arman\AppData\Local\Temp\ipykernel_13320\997131811.py:21: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown deadline' has dtype incompatible with datetime64[ns], please explicitly cast to a compatible dtype first.
  df["Deadline"].fillna("Unknown deadline", inplace=True)  # Keep as a string for clarity

In [3]:
df.isnull().values.any()

True

In [4]:
df.isnull().sum()

Scholarship Name       0
Deadline               0
Amount              8872
Description            0
Location               0
Years                  0
Link                   0
dtype: int64

In [6]:
df['Amount'] = df['Amount'].astype('object').fillna("Unknown")

In [7]:
df.head()

,Scholarship Name,Deadline,Amount,Description,Location,Years,Link
0,Order Sons of Italy in America National Leader...,Unknown deadline,Unknown,Applicant must be of Italian heritage and be a...,No Geographic Restrictions,"[College junior, College freshman, College sen...",https://www.collegescholarships.org/financial-...
1,Entrance Scholarship,Unknown deadline,Unknown,Applicant must be an incoming first-year stude...,No Geographic Restrictions,[College freshman],https://www.collegescholarships.org/financial-...
2,Agnes Jones Jackson Scholarship,Unknown deadline,Unknown,Applicant must be current member of the NAACP ...,No Geographic Restrictions,"[College freshman, Master&#039;s-level study, ...",https://www.collegescholarships.org/financial-...
3,Fellowship in Jewish Studies,Unknown deadline,Unknown,Applicant must have an interest in Jewish stud...,No Geographic Restrictions,[High school senior],https://www.collegescholarships.org/financial-...
4,Doctoral Scholarship,Unknown deadline,Unknown,Applicant must be a doctoral student specializ...,No Geographic Restrictions,[Doctoral-level study],https://www.collegescholarships.org/financial-...

In [8]:
df.to_csv("InterNational_Scholarships.csv", index=False)